<div class="container-fluid inner-content full-height" ng-cloak>
    <div class="row" style="height: auto; max-height: 100%; overflow: auto;">
        <div class="col-xs-12 col-sm-12 col-sm-push-3">
            <div class="alert alert-secondary" role="alert">
                <nav class="navbar navbar-expand-sm navbar-secondary m-0 p-0">
                    <div class="collapse navbar-collapse" style="display: block !important;">
                        <div class="collapse navbar-collapse float-right">
                            <button ng-click="AddRoom()" type="button" class="btn btn-success btn-sm ml-2"
                                title="Add Room">
                                <i class="fas fa-exchange-alt"></i> Add Room {{Name}}
                            </button>
                        </div>
                    </div>
                </nav>
            </div>

            <table id="roomListTable" class="table table-hover table-sm custom-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Room No</th>
                        <th scope="col">Room Name</th>
                        <th scope="col">Room Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="room in roomList">
                        <td class="word-wrap" style="width: 27%;">{{room.RoomNo}}</td>
                        <td class="word-wrap" style="width: 30%;">{{room.RoomName}}</td>
                        <td class="word-wrap" style="width: 15%;">{{room.RoomType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <div id="addRoomModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">
                            <i class="fas fa-exchange-alt"></i> Add Room
                        </h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="hms-modal-body">
                        <div class="row modal-row">
                            <div class="col modal-col-left modal-col-right">
                                <div class="card transfer-card">
                                    <div class="card-header p-1">
                                        Room Details
                                    </div>
                                    <div class="card-body p-1">
                                        <div class="scrollable-box">
                                            <form role="form" class="well">
                                                <div class="form-group">
                                                    <label> Room No: </label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Room No " ng-model="newRoom.RoomNo">
                                                </div>
                                                <div class="form-group">
                                                    <label> Room Name: </label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Room Name " ng-model="newRoom.RoomName">
                                                </div>
                                                <div class="form-group">
                                                    <label> Type: </label>
                                                    <select class="form-control" ng-model="newRoom.RoomType">
                                                        <option value="Single">Single</option>
                                                        <option value="Double">Double</option>
                                                      </select><br>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="AddNewRoom()" type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-exchange-alt"></i> Add Room</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                            <i class="fas fa-times"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>